<h3>
  Basics about routes
</h3>
<LinkTo @route="route-name">
  Route Name
</LinkTo>
<h3>
  Automatic redirect
</h3>
<LinkTo @route="redirect-route">
  Redirect Route
</LinkTo>
<h3>
  Loading page
</h3>
<LinkTo @route="slow-model">
  Slow model
</LinkTo>
<h3>
  Query params
</h3>
<LinkTo @route="query-params" @query={{hash query_param="router-val"}}>
  Query params
</LinkTo>